body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background:  linear-gradient(to right, rgb(216,224,222) 0%,
                                         rgb(174,191,188) 22%,
                                         rgb(153,175,171) 33%,
                                         rgb(142,166,162) 50%,
                                         rgb(130,157,152) 67%,
                                         rgb(78,92,90) 82%,
                                         rgb(14,14,14) 100%);
  font-family: "Courier new", Courier, monospace;
}

img{
  filter:brightness(150%);
}
